@import '../utils/styles.scss';

.container {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
      height: 40px;
      width: 100%;
  }

  .input {
      flex: 1;
      height: 36px;
      width: 85%;
      padding: 0 0 0 10px;
      margin: 0 0 0 20px;
      font-size: 1.2em;
  }

  .button {
      height: 40px;
      width: 40px;
      padding: 0;
      margin: 0 20px 0 20px;
      border: 0;
      background: $green;
      border-radius: 3px;
  }

  .searchIcon {
      height: 60%;
      width: 60%;
  }
  